{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    
    {% load crispy_forms_tags %}
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #6b91ac;">
        <div class="container-fluid">
            <a class="navbar-brand" id="link" href="#">World</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
            </div>
            <a class="nav-link"id="link" href="{% url 'create_appointment' %}">Create</a>
            <a class="nav-link " id="link" href="{% url 'user_appointments' %}">Appointments</a>
            <a class="nav-link " id="link" href="/logout/">LogOut</a>
        </div>
    </nav>
    
        {% block content %}
    
        {% endblock %}
    
</body>
</html>